
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
  text-transform: capitalize;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(199, 233, 148, 1) 100%
  );
}

h1 {
  text-align: center;
  margin: 2rem 0 4rem 0;
}

h5 {
    font-size: small;
    margin: 1px;
    padding: 4px;
}

ul {
  list-style: none;
}

#inputControls {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background-color: #21aeca;
  text-transform: capitalize;
}

input[type=text] {
  width: 50%;
  padding: 5px 10px;
  font-size: medium;
  margin: 8px;
  border: 2px solid #124575;
  border-radius: 5px;
  text-align: center;
}

button[type=submit] {
  background-color: #21aeca;
  color: aliceblue;
  padding: 5px 10px;
  font-size: medium;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  #inputControls {
    width: 90%;
  }
}

.accordion {
  max-width: 500px;
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #21aeca;
}

.accordion-title:hover {
  background-color: #3ab4cc;
}

.accordion-title,
.accordion-content {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self:center;
}

.accordion-content {
  background-color: aliceblue;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}